@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&family=Montserrat:wght@200;300;400;500;600;700&family=Poppins:wght@300;400;500;600;700&family=Roboto:wght@300;400;500;700&display=swap');


:root{
    --cor-titulo: #0d2152;
    --cor-subtitulo: white;
    --cor-texto: black;
    --cor-fundo: white;
    --cor-paisagem: #0099AE;
    --cor-botao: rgb(39, 39, 39);
    --cor-link: rgb(39, 39, 39);
    --cor-degrade: linear-gradient(90deg, rgb(14, 32, 80) 35%, rgb(44, 94, 202) 165%);

    --font-lato: 'Lato', Arial, sans-serif;
    --font-montserrat: 'Montserrat', Arial, sans-serif;
    --font-poppins: 'Poppins', Arial, sans-serif;
    --font-roboto: 'Roboto', Arial, sans-serif;
}


*{
    padding: 0px;
    margin: 0px;
    font-family: var(--font-lato);
}


#linha{
    width: 200px;
    background-image: var(--cor-degrade);
    height: 5px;
    border-radius: 20px;
}

.linha0{
    margin: 100px auto 50px auto;
}

.linha1, .linha2, .linha3{
    margin: 60px auto 60px auto
}
