#linha{
    width: 200px;
    background-image: var(--cor-degrade);
    height: 5px;
    border-radius: 10px;
}

.linha0{
    display: block;
    margin: auto;
    margin-top: 100px;
}

.certificado{
    width: 99vw;
    text-align: center;
}

#certificado_titulo{
    color: var(--cor-titulo);
    margin: 20px 5px 10px 5px;
}

#certificado_texto{
    width: 90vw;
}

.certificado_texto1{
    margin: auto;
    width: 90%;
}

#certificado_img{
    margin-top: 30px;
    margin-bottom: 5px;
}