
.certificado{
    width: 90%;
    text-align: center;
    margin: auto;
}

.certificado_titulo1{
    color: var(--cor-titulo);
    margin: 30px 5px 5px 5px;
}

.certificado_titulo2{
    color: var(--cor-titulo);
    margin-top: 40px;
}

.certificado_texto1{
    margin: auto;
    text-align: justify;
}

.tipo_texto1, .tipo_texto2, .tipo_texto3{
    margin: auto;
    text-align: start;
}

#certificado_texto{
    width: 80%;
}

.aba{
    text-decoration: none;
    color: rgb(18, 73, 173);
    font-weight: 500;
}

#certificado_img{
    margin-top: 30px;
    margin-bottom: 5px;
}

.certificado_img2, .certificado_img3{
    padding-top: 20px;
}

#certificado_botao{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
    gap: 60px;
    margin-bottom: 20px;
}

#certificado_fundo{
    background-color: var(--cor-botao);
    color: var(--cor-subtitulo);
    width: 120px;
    height: 130px;
    display: grid;
    grid-template-rows: 90px 30px;
    justify-content: center;
    align-items: center;
    border-radius: 20px;

}

#botao_texto{
    margin: auto;
    vertical-align: center;
}

#botao_link{
    background-color: var(--cor-subtitulo);
    margin-top: 20px;
    padding-top: 5px;
    padding-bottom: 15px;
    width: 118px;
    height: 30px;
    text-decoration: none;
    color: var(--cor-texto);
    border: 1px solid rgba(0, 0, 0, 0.63);
    box-shadow: 0px 0px 10px 2px rgba(0, 0, 0, 0.452);
    vertical-align: center;
    border-radius: 0px 0px 20px 20px;
}




/*Tablet*/
@media screen and (min-width:700px) and (max-width:1000px) {
    #certificado_fundo{
        width: 140px;
        height: 160px;
    }
    
    #botao_link{
        margin-top: 55px;
        padding: 7px 0px;
        width: 140px;
        height: 40px;
    }
}



/*note*/
@media screen and (min-width:1000px) and (max-width:1300px) {
    .certificado{
        width: 80%;
        text-align: center;
        margin: auto;
    }

    .certificado_texto1{
        margin: auto;
    }

    .certificado_tipos2, .certificado_tipos3{
        margin-top: 40px;
    }

    #certificado_tipos{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
    }

    #certificado_titulo{
        font-size: 32px;
    }

    #certificado_texto{
        font-size: 20px;
        text-align: justify;
    }

    .certificado_img2, .certificado_img3{
        padding: 0px;
    }

    .tipo_texto3{
        margin: 0px;
    }




    #certificado_botao{
        margin-top: 70px;
    }
    
    #certificado_fundo{
        width: 160px;
        height: 160px;
    }
    
    #botao_link{
        margin-top: 55px;
        padding: 7px 0px;
        width: 158px;
        height: 40px;
    }
}



/*pc*/
@media screen and (min-width:1300px){
    .certificado{
        width: 70%;
        text-align: center;
        margin: auto;
    }

    .certificado_texto1{
        margin: 10px auto;
        justify-content: justify;
    }

    .certificado_tipos2, .certificado_tipos3{
        margin-top: 40px;
        margin-left: 10px;
    }

    #certificado_tipos{
        display: flex;
        align-items: center;
        gap: 30px;
    }

    .certificado_tipos1{
        margin-top: 10px;
    }

    .certificado_tipos3{
        margin-left: 40px;
    }

    #certificado_titulo{
        font-size: 28px;
    }

    #certificado_texto{
        font-size: 18px;
    }

    .certificado_img2, .certificado_img3{
        padding: 0px;
    }

    #certificado_img{
        padding: 0px;
        margin: 0px;
    }

    .tipo_texto1{
        padding-bottom: 30px;
    }

    .tipo_texto3{
        padding-left: 10px;
    }

    .tipo_texto1, .tipo_texto2, .tipo_texto3{
        margin: 0px;
    }





    #certificado_botao{
        margin-top: 70px;
    }
    
    #certificado_fundo{
        width: 160px;
        height: 160px;
    }

    #botao_texto{
        padding-top: 15px;
        font-size: 18px;
    }

    #botao_link{
        margin-top: 58px;
        padding: 5px 0px;
        width: 158px;
        height: 40px;
    }
}


/*tv*/
@media screen and (min-width:1700px){
    .certificado_bloco{
        display: block;
        margin-left: 100px;
    }
}