#documentos{
    text-align: center;
    width: 90%;
    margin: auto;
}

.documentos_titulo{
    color: var(--cor-titulo);
    margin: 20px;
}

#documentos_img{
    width: 60px;
    background-size: cover;
    margin: 40px 0px 10px 0px;
}

#documentos_bloco{
    border: 1px solid rgba(0, 0, 0, 0.5);
    box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.342);
    border-radius: 30px;
    padding: 20px;
    margin-bottom: 40px;
}

#documentos_texto{
    width: 80%;
    margin: auto;
    padding-bottom: 20px;
}

#documentos_lista{
    width: 70%;
    margin: auto;
    text-align: start;
    padding-bottom: 10px;
}



/*pc*/
@media screen and (min-width:1300px) and (max-width:1700px) {
    .documentos_titulo{
        font-size: 28px;
        margin-bottom: 50px;
    }
    
    .documentos_container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;    
        gap: 50px;
        margin-bottom: 60px;
    }
    
    #documentos_img{
        width: 100px;
        height: 100px;
        background-size: cover;
        margin: 40px 0px 0px 0px;
    }
    
    #documentos_bloco{
        width: 70%;
    }

    .documentos_container2{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;    
        gap: 50px;
    }

    #documentos_texto{
        font-size: 18px;
    }

    #documentos_lista{
        width: 80%;
        font-size: 16px;
    }
}

/*TV*/
@media screen and (min-width:1700px) {
    .documentos_titulo{
        font-size: 28px;
        margin-bottom: 50px;
    }
    
    .documentos_container{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: end;    
        gap: 50px;
        margin-bottom: 80px;
    }
    
    #documentos_img{
        width: 100px;
        height: 100px;
        background-size: cover;
        margin: 40px 0px 10px 0px;
    }
    
    #documentos_bloco{
        width: 70%;
    }

    .documentos_container2{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: start;    
        gap: 50px;
    }

    #documentos_texto{
        font-size: 18px;
    }

    #documentos_lista{
        width: 85%;
        font-size: 18px;
    }
}