.rodape{
    text-align: center;
}

.rodape_bloco{
    background-color: rgb(247, 247, 247);
    border-top: 1px solid rgba(0, 0, 0, 0.288);
    padding: 10px;
    margin-top: 150px;
}

#rodape_texto{
    color: #042955;
    font-weight: 500;
    font-size: 14px;
    font-family: var(--font-poppins);
    padding: 10px;
}



/*note*/
@media screen and (min-width:1000px) and (max-width:1300px) {
    .rodape_bloco{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 50px;
    }

    .rodape_texto1{
        margin-right: 50px;
    }
}
/*pc*/
@media screen and (min-width:1300px){
    .rodape_bloco{
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .rodape_texto1{
        margin-right: 50px;
    }
}