#home{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    border: 1px solid rgba(0, 0, 0, 0.308);
}

.cabecalho{
    background-color: rgb(164, 164, 164);
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    width: 98vw;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.cabecalho_logo{
    padding: 10px;
}

.cabecalho_titulo{
    padding: 10px;
    font-size: 18px;
    color: var(--cor-titulo);
    font-family: var(--font-montserrat);
    font-weight: 700;
}

#burguer{
    padding-right: 10px;
    display: block;
    cursor: pointer;
}

#navbar_menu{
    display: none;
    background-color: rgb(40, 40, 40);
    color: var(--cor-subtitulo);
    position: fixed;
    padding: 10px;
    top: 62px;
    right: 0;
    width: 180px;
    height: 170px;
}

#lista_menu{
    text-align: center;
    list-style-type: none;
    font-family: var(--font-lato);
    font-weight: 500;
}

#link_menu{
    color: var(--cor-subtitulo);
    font-weight: 600;
    text-decoration: none;
}

.lista-item{
    padding-bottom: 10px;
}



.banner{
    padding-top: 60px;
    width: 100vw;
    height: 300px;
    background: url(../imagens/fundop.png);
    background-position: top left;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.banner_txt{  
    width: 60%;
}

.banner_titulo{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    font-size: 26px;
}

#banner_titulo{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
}

.banner_subtitulo{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
    text-align: left;
    text-shadow: 1px 1px 5px black;
}



.blocos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.blocos_position{
    position: absolute;
    top: 300px;
    left: 5%;
    right: 5%;
}

.bloco_1, .bloco_2, .bloco_3{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.555);
    text-align: center;
    vertical-align: center;
}

.blocos_img{
    padding-top: 10px;
}

.blocos_link{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 12px;
}

.blocos_link3{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 12px;
    padding-top: 6px;
}


