#home{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.308);
}

.cabecalho{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    width: 100%;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.cabecalho_div{
    display: flex;
    align-items: center;
    justify-content: center;
}

.cabecalho_logo{
    padding: 10px;
}

.cabecalho_titulo{
    padding: 10px;
    font-size: 20px;
    color: var(--cor-titulo);
    font-family: var(--font-montserrat);
    font-weight: 700;
}

.cabecalho_lista{
    display: none;
}

#burguer{
    padding-right: 10px;
    display: block;
    cursor: pointer;
}

#navbar_menu{
    display: none;
    background-color: rgb(40, 40, 40);
    color: var(--cor-subtitulo);
    position: fixed;
    padding: 10px;
    top: 62px;
    right: 0;
    width: 180px;
    height: 170px;
}

#lista_menu{
    text-align: center;
    list-style-type: none;
    font-family: var(--font-lato);
    font-weight: 500;
}

#link_menu{
    color: var(--cor-subtitulo);
    font-weight: 600;
    text-decoration: none;
}

.lista-item{
    padding-bottom: 10px;
}



.banner{
    padding-top: 60px;
    width: 100%;
    height: 300px;
    background: url(../imagens/fundop.png);
    background-position: top left;
    background-size: cover;
    display: flex;
    justify-content: space-between;
}

.banner_txt{  
    width: 90%;
    margin: 10px auto;
    text-align: center;
}

.banner_titulo{
    color: white;
    text-align: center;
    margin-top: 20px;
    padding: 10px;
    padding-left: 20px;
    font-size: 26px;
}

#banner_titulo{
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 5px black;
}

.banner_subtitulo{
    color: rgb(255, 255, 255);
    font-size: 18px;
    margin-top: 10px;
    padding-left: 20px;
    text-align: center;
    text-shadow: 1px 1px 5px black;
}

.banner_img{
    display: none ;
    margin: 60px;
}

.banner_logo{
    border-radius: 50%;
    width: 125px;
}


.blocos{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.blocos_position{
    position: absolute;
    top: 300px;
    left: 5%;
    right: 5%;
}

.bloco_1, .bloco_2, .bloco_3{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 110px;
    height: 110px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.555);
    text-align: center;
    vertical-align: center;
}

.blocos_img, .blocos_img2, .blocos_img3{
    width: 60px;
}

.blocos_img{
    padding-top: 10px;
}

.blocos_link{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 12px;
}

.blocos_link3{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 12px;
    padding-top: 6px;
}



/*Tablet*/
@media screen and (min-width:700px) and (max-width:1000px) {
    .banner{
        background-image: url(../imagens/BannerCertdata2.png);
        background-size: cover;
        background-position:center ;
    }

    .banner_img{
        display: block ;
    }

    .cabecalho_titulo{
        padding: 10px;
        font-size: 22px;
        color: var(--cor-titulo);
        font-family: var(--font-montserrat);
        font-weight: 700;
    }

    .banner_txt{  
        width: 50%;
        margin: 0px;
        text-align: center;
        padding: 30px ;
    }

    .banner_subtitulo{
        font-size: 20px;
    }
}




/*note*/
@media screen and (min-width:1000px) and (max-width:1300px) {
    .banner{
        background-image: url(../imagens/BannerCertdata2.png);
        background-size: cover;
        width: 100%;
        background-position:center ;
    }

    .banner_img{
        display: block ;
        padding-right: 5%;
    }

    .banner_logo{
        width: 150px;
    }

    .banner_txt{  
        width: 50%;
        margin: 0px;
        text-align: center;
        padding-top: 30px;
    }

    .banner_titulo{
        font-size: 32px;
    }

    .banner_subtitulo{
        font-size: 24px;
    }

    #burguer{
        display: none;
    }

    .cabecalho{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
        width: 100%;
        height: 60px;
        display: flex;
        align-items: center;
    }

    .cabecalho-logo{
        width: 60px;
        height: 60px;
        padding-left: 50px;
    }

    .cabecalho_titulo{
        padding: 10px;
        font-size: 24px;
        color: var(--cor-titulo);
        font-family: var(--font-montserrat);
        font-weight: 700;
    }

    .cabecalho_lista{
        display: flex;
        list-style-type: none;
        margin-right: 30px;
    }
    
    .cabecalho-item{
        width: auto;
        height: auto;
        padding: 0px 10px;
        font-size: 16px;

    }
    
    #cabecalho_link{
        text-decoration: none;
        color: var(--cor-texto);
    }

    .blocos_position{
        position: absolute;
        top: 300px;
        left: 45vw;
}
}




/*pc*/
@media screen and (min-width:1300px){
    .banner{
        background-image: url(../imagens/BannerCertdata2.png);
        width: 100%;
        background-size: cover;
        background-position:center;
        height: 400px;
    }

    .banner_img{
        display: block ;
    }

    .banner_txt{  
        width: 50%;
        margin: 0px;
        text-align: center;
        padding: 80px 30px;
    }

    .banner_titulo{
        font-size: 35px;
    }

    .banner_subtitulo{
        font-size: 28px;
    }

    .banner_img{
        padding-top: 60px;
        padding-right: 100px;
        margin: 0px;
        text-align: center;
        vertical-align: center;
        
    }

    .banner_logo{
        width: 40%;
    }

    #burguer{
        display: none;
    }

    .cabecalho{
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
        width: 100%;
        height: 80px;
        display: flex;
        align-items: center;
        justify-content:space-between ;
    }

    .cabecalho-logo{
        width: 80px;
        height: 80px;
        padding-left: 50px;
    }

    .cabecalho_titulo{
        padding: 10px;
        font-size: 28px;
        color: var(--cor-titulo);
        font-family: var(--font-montserrat);
        font-weight: 700;
    }

    .cabecalho_lista{
        display: flex;
        list-style-type: none;
        margin-right: 30px;
    }
    
    .cabecalho-item{
        width: auto;
        height: auto;
        padding: 0px 15px;
        font-size: 18px;
    }
    
    #cabecalho_link{
        text-decoration: none;
        color: var(--cor-texto);
    }


    .blocos_position{
        position: absolute;
        top: 370px;
        left: 60vw;
}

    .bloco_1, .bloco_2, .bloco_3{
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        width: 150px;
        height: 150px;
        box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.555);
        text-align: center;
        vertical-align: center;
    }

    .blocos_img, .blocos_img2, .blocos_img3{
        width: 80px;
    }

    .blocos_link{
        color: var(--cor-texto);
        text-decoration: none;
        font-size: 16px;
        padding-top: 5px;
    }
    
    .blocos_link3{
        color: var(--cor-texto);
        text-decoration: none;
        font-size: 16px;
        padding-top: 6px;
    }
}




/*TV*/
@media screen and (min-width:1650px){
    .banner{
    background-image: url(../imagens/BannerCertdata2.png);
    width: 100%;
    background-size: cover;
    background-position:center left;
    height: 400px;
}

.banner_img{
    display: block ;
}

.banner_txt{  
    width: 50%;
    text-align: center;
    padding-top: 80px;
}

.banner_titulo{
    font-size: 35px;
}

.banner_subtitulo{
    font-size: 28px;
}

.banner_logo{
    width: 40%;
}

#burguer{
    display: none;
}

.cabecalho{
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 0px 10px 3px rgb(0, 0, 0);
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content:space-between ;
}

.cabecalho-logo{
    width: 80px;
    height: 80px;
    padding-left: 50px;
}

.cabecalho_titulo{
    padding: 10px;
    font-size: 28px;
    color: var(--cor-titulo);
    font-family: var(--font-montserrat);
    font-weight: 700;
}

.cabecalho_lista{
    display: flex;
    list-style-type: none;
    margin-right: 50px;
}

.cabecalho-item{
    width: auto;
    height: auto;
    padding: 0px 20px;
    font-size: 20px;
}

#cabecalho_link{
    text-decoration: none;
    color: var(--cor-texto);
}


.blocos_position{
    position: absolute;
    top: 375px;
    left: 70vw;
}

.bloco_1, .bloco_2, .bloco_3{
    background-color: white;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 150px;
    height: 150px;
    box-shadow: 0px 0px 4px 2px rgba(0, 0, 0, 0.555);
    text-align: center;
    vertical-align: center;
}

.blocos_img, .blocos_img2, .blocos_img3{
    width: 80px;
}

.blocos_link{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 16px;
    padding-top: 5px;
}

.blocos_link3{
    color: var(--cor-texto);
    text-decoration: none;
    font-size: 16px;
    padding-top: 6px;
}
}